  
  .detils{
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    margin-left:100px;
    /* border:4px solid yellow; */
    display: inline-block;
    flex-direction: column;
    border: 2px solid black;
    /* flex-direction: column; */
    /* border-radius: 12px; */
    color:#000066;
    font-family: 'Times New Roman', Times, serif;
    line-height: 2.5;

  }
  .placementstatus{
    margin-left: 1350px;
    /* border:12px solid red; */
    color: green;
    /* border:2px solid red; */
    /* margin-bottom: 300px; */
  }
  .placementstatusheading{
    margin-left: 1350px;
    font-size: x-large;
  }

  /* //admin page */
.Buttonstyle{
background: #000066  !important;
font-family: 'Times New Roman', Times, serif !important;
font-weight: bold!important;
border: 2px solid white;
}

.pagestyle{
  background-image: linear-gradient(to right, #9679f7, #86fbf5, #9679f7);
}
/* .layout{
  border:5px solid red;
} */
.custom-container{
  .custom-container {
    margin-top: 4px;
    margin-right: 4px;
    margin-bottom: 4px;
    margin-left: 4px;
  }

}

/* //baad ki css -------------------------------------------------------------------------------------------------------*/


